<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>pbooth-redis-1</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PORT</key>
        <string>5100</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/redis-server</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/vaughan/projects/pbooth/log/pbooth-redis-1.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/vaughan/projects/pbooth/log/pbooth-redis-1.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/vaughan/projects/pbooth</string>
</dict>
</plist>
